<%= render "/layouts/landing_nav"%>

<h1 class="center">List of Articles</h1>

<!--Display error messages -->

<%= render 'layouts/messages' %>

<!--Add pagination to articles listing-->

<div align="center">
	<%= will_paginate %>
</div>

<!--render the partial article-->
<%= render 'article', obj: @articles %>	

<!--render the partial footer-->

<!--Add pagination to articles listing-->

<div align="center">
	<%= will_paginate %>
</div>

<%= render 'footer' %>
