
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="move_toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<%= link_to 'Alpha Blog', root_path, class:"navbar-brand", id: 'logo' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="move_nav">
				<% if logged_in? %>
					 <li><%= link_to 'New Article', new_article_path %></li>
				<li><%= link_to 'User Profile', user_path(current_user) %></li>
				<li><%= link_to 'Log out', logout_path, method: :delete %></li>
      </ul>
			<% else %>
			<ul class="nav navbar-nav navbar-right" id="move_nav">
					 <li><%= link_to 'Sign up', signup_path %></li>
					 <li><%= link_to 'Log in', login_path %></li>
      </ul>
			<% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
